In [1]:
import pandas as pd

In [39]:
filepath = "/Users/thowe/MinersAI Dropbox/Tyler Howe/AK_sample_project/UNPROCESSED/agdb2-csv/agdb2/bestvalue.txt"

df = pd.read_csv(filepath, index_col=False)

df.columns = ["lab_id", "species", "units", "value", "method", "summary", "method"]

/var/folders/xc/wpkwk17x20z44scclf26ttt80000gn/T/ipykernel_11277/2591739854.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, index_col=False)

In [29]:
df

,lab_id,species,units,value,method,summary,method
0,62M110,Ag,ppm,-0.7,ES_SQ,"-0.7, ES_SQ",Ag_ppm_ES_SQ
1,F003691,Ag,ppm,2.0,ES_SQ,"2, ES_SQ; 2.3, AA_F_AZ_H2O2_P",Ag_ppm_ES_SQ
2,F003692,Ag,ppm,3.0,ES_SQ,"3, ES_SQ; 2.8, AA_F_AZ_H2O2_P",Ag_ppm_ES_SQ
3,F003696,Ag,ppm,0.5,ES_SQ,"0.5, ES_SQ; 0.8, AA_F_AZ_H2O2_P",Ag_ppm_ES_SQ
4,F003706,Ag,ppm,0.5,ES_SQ,"0.5, ES_SQ; 0.5, AA_F_AZ_H2O2_P",Ag_ppm_ES_SQ
...,...,...,...,...,...,...,...
7648838,M157366,Zr,ppm,22.0,WDX_Fuse,"22, WDX_Fuse; -35, NA",Zr_ppm_WDX_Fuse
7648839,M157367,Zr,ppm,41.0,WDX_Fuse,"41, WDX_Fuse; -68, NA",Zr_ppm_WDX_Fuse
7648840,M157368,Zr,ppm,60.0,WDX_Fuse,"60, WDX_Fuse; -89, NA",Zr_ppm_WDX_Fuse
7648841,M157369,Zr,ppm,41.0,WDX_Fuse,"41, WDX_Fuse; -39, NA",Zr_ppm_WDX_Fuse
7648842,W217988,Zr,ppm,154.0,WDX_Fuse,"154, WDX_Fuse; -200, NA",Zr_ppm_WDX_Fuse

In [20]:
print(df['lab_id'].unique())

['Ag' 'Yb' 'Fe' 'Mg' 'B' 'Al' 'Ca' 'Be' 'Ba' 'Bi' 'As' 'Au' 'Cr' 'splwtau'
 'V' 'Ni' 'Co' 'Y' 'Sc' 'Cu' 'splwtfa' 'Na' 'W' 'Ce' 'Pd' 'Hg' 'Ti' 'Cd'
 'Hm' 'U' 'Mo' 'Rb' 'Ga' 'Cs' 'Eu' 'P' 'Ho' 'La' 'Mn' 'K' 'Dy' 'Sb' 'Er'
 'Fe2' 'Zr' 'Gd' 'Ge' 'Tl' 'Hf' 'Nb' 'In' 'Ir' 'Sn' 'Se' 'Th' 'Li' 'Pb'
 'Sm' 'Lu' 'Nd' 'Tb' 'Pr' 'Ta' 'Sr' 'Os' 'Pt' 'Re' 'Rh' 'Zn' 'Ru' 'Si'
 'Te' 'CEC' 'Tm']

In [30]:
main_filepath = "/Users/thowe/MinersAI Dropbox/Tyler Howe/AK_sample_project/UNPROCESSED/agdb2-csv/agdb2/main.txt"
df_main = pd.read_csv(main_filepath, index_col=False)

/var/folders/xc/wpkwk17x20z44scclf26ttt80000gn/T/ipykernel_11277/2071819882.py:2: DtypeWarning: Columns (2,6,12,13,15,28,29,30,31,32,33,34,35,36,37,38,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_main = pd.read_csv(main_filepath, index_col=False)

In [43]:
print(df_main.columns)

print(df_main["longitude"].isna().mean() * 100)

Index(['lab_id', 'field_id', 'job_id', 'submitter', 'project', 'date_sub',
       'date_coll', 'country', 'state', 'quad', 'latitude', 'longitude',
       'spheroid', 'datum', 'loc_desc', 'depth', 'sample_src', 'method_col',
       'prim_class', 'sec_class', 'spec_name', 'comment', 'addl_attr',
       'geol_age', 'stratig', 'mineralzn', 'alteration', 'ign_form',
       'metamorph', 'facies_grd', 'src_rock', 'dep_env', 'zone', 'horizon',
       'saline', 'organics', 'ferritic', 'drainage', 'prep', 'mesh_size',
       'prv_job_id', 'prv_lab_id', 'Unnamed: 42'],
      dtype='object')
0.0

In [32]:
def calculate_overlap_percentage(
    df_a: pd.DataFrame, df_b: pd.DataFrame, column_name: str
) -> float:
    """
    Calculate the percentage of values in a specified column from DataFrame A that
    also exist in the same column of DataFrame B.

    :param df_a: First DataFrame (Dataset A)
    :param df_b: Second DataFrame (Dataset B)
    :param column_name: Name of the column to analyze
    :return: Percentage of values in df_a[column_name] found in df_b[column_name]
    """
    if column_name not in df_a.columns or column_name not in df_b.columns:
        raise ValueError(f"Column '{column_name}' must exist in both DataFrames.")

    values_a = set(df_a[column_name].dropna())
    values_b = set(df_b[column_name].dropna())

    overlap_count = len(values_a & values_b)
    total_count = len(values_a)

    return (overlap_count / total_count) * 100 if total_count > 0 else 0.0

In [33]:
percentage = calculate_overlap_percentage(df, df_main, 'lab_id')
print(f"Overlap percentage: {percentage:.2f}%")

Overlap percentage: 100.00%

In [44]:
def merge_lat_long(df_a: pd.DataFrame, df_b: pd.DataFrame) -> pd.DataFrame:
    """
    Merge latitude and longitude from df_B into df_A based on the 'lab_id' column.

    :param df_a: DataFrame A (without latitude/longitude)
    :param df_b: DataFrame B (with 'lab_id', 'latitude', and 'longitude')
    :return: Updated DataFrame A with latitude and longitude columns added
    """
    return df_a.merge(
        df_b[["lab_id", "latitude", "longitude"]], on="lab_id", how="left"
    )

In [46]:

df_merged = merge_lat_long(df, df_main)

In [47]:
df_merged

,lab_id,species,units,value,method,summary,method,latitude,longitude
0,62M110,Ag,ppm,-0.7,ES_SQ,"-0.7, ES_SQ",Ag_ppm_ES_SQ,59.55271,-154.49172
1,F003691,Ag,ppm,2.0,ES_SQ,"2, ES_SQ; 2.3, AA_F_AZ_H2O2_P",Ag_ppm_ES_SQ,55.63333,-160.65000
2,F003692,Ag,ppm,3.0,ES_SQ,"3, ES_SQ; 2.8, AA_F_AZ_H2O2_P",Ag_ppm_ES_SQ,55.63333,-160.65000
3,F003696,Ag,ppm,0.5,ES_SQ,"0.5, ES_SQ; 0.8, AA_F_AZ_H2O2_P",Ag_ppm_ES_SQ,55.63333,-160.65000
4,F003706,Ag,ppm,0.5,ES_SQ,"0.5, ES_SQ; 0.5, AA_F_AZ_H2O2_P",Ag_ppm_ES_SQ,55.63333,-160.65000
...,...,...,...,...,...,...,...,...,...
7648838,M157366,Zr,ppm,22.0,WDX_Fuse,"22, WDX_Fuse; -35, NA",Zr_ppm_WDX_Fuse,60.83333,-146.13333
7648839,M157367,Zr,ppm,41.0,WDX_Fuse,"41, WDX_Fuse; -68, NA",Zr_ppm_WDX_Fuse,60.26667,-147.66667
7648840,M157368,Zr,ppm,60.0,WDX_Fuse,"60, WDX_Fuse; -89, NA",Zr_ppm_WDX_Fuse,60.26667,-147.66667
7648841,M157369,Zr,ppm,41.0,WDX_Fuse,"41, WDX_Fuse; -39, NA",Zr_ppm_WDX_Fuse,60.26667,-147.66667
7648842,W217988,Zr,ppm,154.0,WDX_Fuse,"154, WDX_Fuse; -200, NA",Zr_ppm_WDX_Fuse,64.00000,-158.86667